# Core dependencies
ctranslate2>=4.0,<5
huggingface_hub>=0.13
tokenizers>=0.13,<1
onnxruntime>=1.14,<2 
av>=11
tqdm

# Audio processing
pyaudio>=0.2.13
wave>=0.0.2
numpy>=1.20.0

# Real-time processing
keyboard>=0.13.5

# Translation
deep-translator>=1.9.1

# Development dependencies
black==23.*
flake8==6.*
isort==5.*
pytest==7.*

# Model conversion dependencies
transformers[torch]>=4.23

# Benchmarking dependencies (optional)
jiwer
datasets
memory_profiler
py3nvml
pytubefix